/* _sass/minimal-mistakes/skins/_catppuccin_mocha.scss */

$background-color: #1e1e2e;
$text-color: #cdd6f4;

$primary-color: #cba6f7;
$accent-color: #89b4fa;

$link-color: #89b4fa;
$link-color-hover: #b4befe;

$masthead-link-color: #cdd6f4;
$masthead-link-color-hover: #89b4fa;

$footer-background-color: #181825;
